<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-6">
                 <div class="square first">
                    <div class="squarefontlow">CNT Tweets:</div>
                    <div class="squarefonthigh">90</div>
                    <div></div>
                </div>
            </div>
            <div class="col-md-6 padPane">
                 <div class="square second">
                    <div class="squarefontlow">CNT Users:</div>
                    <div class="squarefonthigh">4567</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class = "table-title firstF">{{tp_hashtags}}</div>
        <table class="table table-striped">
            <thead>
                <tr>
                <th>Key</th>
                <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td></td>
                <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <h2>{{subtitle}}</h2>
    <svg width="900" height="500"></svg>
</div>